.container-fluid {
  background-color: #090a0c;
  position: relative;
  height: 200px;
}
svg{
  align-content: center;
  margin-bottom: -35px;
  height: 200px;
}

image{
  height: 60px;
}

.row {
  max-height: 200px;
  width: 100%;
}

#account-heading{
  padding-top: 0px;
  background-color: rgba(0,0,0,0.75);
  color: #c7a94f;
  text-align: center;
  margin-top: 10px;
}

#svg-icon{
  filter: invert(66%) sepia(40%) saturate(542%) hue-rotate(7deg) brightness(96%) contrast(87%);
}

#svg-calendar{
  filter: invert(0%) sepia(96%) saturate(14%) hue-rotate(24deg) brightness(100%) contrast(103%);
  float: right;
  padding-top: 0px;
  height: 50px;
  width: 65px;
}

#svgtext{
  padding-top: 0px;
}

.svg2{
  align-content: center;
  padding-top: 60px;
  margin-bottom: -35px;
  height: 200px;
}

image{
  height: 60px;
}

img{
  max-height: 200px;
}

text{
  fill: #c7a94f;
  padding-left: 30px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#menu{
  filter: invert(88%) sepia(12%) saturate(745%) hue-rotate(320deg) brightness(115%) contrast(93%);
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 1;
  padding-top: 0px;
  display: block;
}

span{
  padding-left: 45px;
  font-size: 17px;
  font-weight: 500;
}

hr{
  border: solid 0px black;
  border-top-width: 2px;
  margin-top: 10px;
}

#row{
  max-height: 200px;
  width: 100%;
  height: 15px;
}

li{
  list-style-type:none;
}

ul{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-inline-start: 30px;
  padding-inline-end: 50px;
}

a{
  cursor: pointer;
  text-align: center;
  color: #c7a94f;
}

.col-xs-offset-1 {
  margin-left: 6.333333%;
}

.bigAndBold{
  font-size: 25px;
  font-weight: 400;
}

.biggerAndBold{
  font-size: xxx-large;
  font-weight: 400;
  line-height: 40px;
}

.hover-color:hover {
  background-color: #ddd;
}
