
<div class="container-fluid">
  <div class="row">
    <img class="center-block img-responsive" src="../assets/pictures/Progress_Bar_page_2.png">
  </div>
</div>

<form id="user-registration-pg2" (ngSubmit)="onSubmit()" #registration_pg2="ngForm">
  <app-contact-information (contactInfo)="onContactInformationAdded($event)" [confirmClicked]="confirmed"></app-contact-information>
  <app-mailing-information (mailingInfo)="onMailingInformationAdded($event)" [confirmClicked]="confirmed"></app-mailing-information>
  <app-work-information (workInfo)="onWorkInformationAdded($event)" [confirmClicked]="confirmed"></app-work-information>

  <div class="row">
    <div class="col-xs-1 col-sm-3"></div>
    <div class="col-xs-10 col-sm-6">
      <div class="submit">
        <button
          class="btn btn-default btn-lg btn-block"
          type="button"
          style="float: left"
          (click)="back()">
          Back
        </button>
      </div>
      <div class="submit">
        <button
          class="btn btn-primary btn-lg btn-block"
          type="submit" style="float: right">
          Confirm
        </button>
      </div>
    </div>
    <div class="col-xs-1 col-sm-3"></div>
  </div>
  <br>
  <br>
  <br>

</form>
