<div style="position: relative">
    <div class="container-fluid">
      <div class="row" style="margin-top: 0px; position: absolute;">
        <img class="center-block img-responsive" src="../assets/pictures/airplane.png">
      </div>
  
  
      <div class="row" style="margin-top: 0px;">
        <div class="col-xs-1 col-sm-1"></div>
        <svg id="menu">
          <a (click)="openNav()">
            <image x="18%" y="12%" href="../assets/Icons/menu.svg" style="height: 34px"/>
          </a>
        </svg>
        <div class="col-xs-10 col-sm-10" style="height: 200px">
          <div class="col-xs-4 col-sm-4 margin-svg" style="text-align: center">
            <a href="/transfer">
              <svg id="svg-icon" style="height: 115px;">
                <image href="../assets/Icons/money-transfer.png" x="48%" y="24%"/>
              </svg>
              <svg style="height: 49px;">
                <text x="115" y="18">Between Accounts</text>
              </svg>
              <br>
            </a>
          </div>
  
          <div class="col-xs-4 col-sm-4 margin-svg" style="text-align: center">
            <a href="#">
              <svg id="svg-icon" style="height: 115px;">
                <image href="../assets/Icons/e-transfer.png" x="49%" y="24%"/>
              </svg>
              <svg style="height: 41px; ">
                <text x="145" y="10">E-Transfer</text>
              </svg>
            </a>
          </div>
  
          <div class="col-xs-4 col-sm-4 margin-svg" style="text-align: center">
            <a href="/summary">
              <svg id="svg-icon" style="height: 116px;">
                <image href="../assets/Icons/request-money.png" x="45%" y="24%"/>
              </svg>
              <svg style="height: 49px; ">
                <text x="122" y="17">Request Money</text>
              </svg>
            </a>
          </div>
          <div class="col-xs-1 col-sm-1"></div>
  
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin: 0;">
    <div class="col-xs-1 col-sm-3"></div>
    <div class="col-xs-10 col-sm-6" style="margin-top: 20px;">
      <div class="row" style="height: auto;">
        <div class="col-xs-6 yellow-rectangle text-center">
          <img src="../assets/Icons/email-icon.png" alt=""  height="20"/>
              &nbsp; Manage Autodeposits
        </div>
        <div class="col-xs-6 yellow-rectangle text-center">
          <img src="../assets/Icons/text-icon.png" alt="" height="20"/>
          &nbsp; Manage Contacts
        </div>
      </div>
      <div class="row black-border" style="height: auto; margin-top: 20px;">
        <div class="col-xs-6">
            <h4>History</h4>
        </div>
        <div class="col-xs-6 text-right">
          <svg viewBox="0 0 300 350" style="float: right; height: 35px">
        <a href="#">
          <circle cx="50%" cy="57%" r="110"/>
          <polyline points="100,150 150,200 200,150"
                    style="fill:none;stroke:black;stroke-width:10" />
          <polyline points="100,210 150,260 200,210"
                    style="fill:none;stroke:black;stroke-width:10" />
        </a>
      </svg>
        </div>
        
    </div>
    <div class="row" style="display: flex; margin-top: 10px; height: auto;">
      <button type="button" class="custom-button">Money Sent</button>
      <button type="button" class=" custom-button">Money Received</button>
      <button type="button" class="custom-button">Money Request</button>
    </div>
    <div class="row table-wrapper" style="height: auto;">
      <table style="width: 100%;">
        <tbody>
          <tr>
            <td>1/1/1729</td>
            <td>Stan Smith</td>
            <td>$1.38</td>
            <td class="text-right">(Sent)</td>
          </tr>
          <tr>
            <td>1/1/1729</td>
            <td>Stan Smith</td>
            <td>$1.38</td>
            <td class="text-right">(Sent)</td>
          </tr>
        </tbody>
      </table>
    </div>
      <!-- <svg viewBox="0 0 300 350" style="float: right; height: 35px">
        <a href="#">
          <circle cx="50%" cy="57%" r="110"/>
          <polyline points="100,150 150,200 200,150"
                    style="fill:none;stroke:black;stroke-width:10" />
          <polyline points="100,210 150,260 200,210"
                    style="fill:none;stroke:black;stroke-width:10" />
        </a>
      </svg> -->
      <!--<p><i class="arrow down"></i></p>-->
    </div>
  
  <br>
  <br>
  <br>
  <br>
    
  
  