
<div class="row">
  <div class="col-xs-1 col-sm-2"></div>
  <div class="col-xs-10 col-sm-8">
    <svg viewBox="0 0 300 350" style="float: right; height: 35px">
      <a href="#">
        <circle cx="50%" cy="57%" r="110"/>
        <polyline points="100,150 150,200 200,150"
                  style="fill:none;stroke:black;stroke-width:10" />
        <polyline points="100,210 150,260 200,210"
                  style="fill:none;stroke:black;stroke-width:10" />
      </a>

    </svg>
    <!--<p><i class="arrow down"></i></p>-->
    <h4>Notifications</h4>
    <hr>
  </div>
  <div class="col-xs-1 col-sm-2"></div>
</div>

<div class="row">
  <div class="col-xs-1 col-sm-2"></div>
  <div class="col-xs-5 col-sm-4">
    <ul> 
      <li>Security Alert: Suspicous Activity</li>
      <li>Successful Transfer</li>
      <li>Successful Transfer</li>
    </ul>
  </div>
  <div class="col-xs-5 col-sm-4">
    <ul style="list-style-type:none; padding-right: 3em; float:right">
      <li>3/30/2021, 11:59AM</li>
      <li>3/29/2021. 3:42PM</li>
      <li>3/24/2021, 9:58AM</li>
    </ul>
  </div>
  <div class="col-xs-1 col-sm-2"></div>
</div>

