<h2>
  Learn about our rates
</h2>
<br>
<div class="col-xs-4 col-sm-4" style="text-align: center">
  <div class="filled-box">
    <div class="col-xs-4 col-sm-4 margin-svg" style="text-align: center">
      <a href=#>
        <svg id="svg-icon" style="height: 150px;">
          <image href="../assets/Icons/credit-card-icon-2.svg" x="30%" y="24%"/>
        </svg>
        <br><br>
        <svg style="height: 49px;">
          <text x="105" y="22" class="change-text-size">Credit</text>
        </svg>
        <br>
      </a>
    </div>
  </div>
</div>

<div class="col-xs-4 col-sm-4" style="text-align: center">
  <div class="filled-box">
    <div class="col-xs-4 col-sm-4 margin-svg" style="text-align: center">
      <a href=#>
        <svg id="svg-icon" style="height: 150px;">
          <image href="../assets/Icons/savings-icon.svg" x="32%" y="24%"/>
        </svg>
        <br><br>
        <svg style="height: 49px;">
          <text x="104" y="22" class="change-text-size">Savings</text>
        </svg>
        <br>
      </a>
    </div>
  </div>
</div>

<div class="col-xs-4 col-sm-4" style="text-align: center">
  <div class="filled-box">
    <div class="col-xs-4 col-sm-4 margin-svg" style="text-align: center">
        <svg id="svg-icon" style="height: 150px;">
          <image href="../assets/Icons/chequing-icon.svg" x="30%" y="24%"/>
        </svg>
        <br><br>
        <svg style="height: 49px;">
          <text x="90" y="22" class="change-text-size">Chequing</text>
        </svg>
        <br>
    </div>
  </div>

</div>

<br>
<br>
<br>
