.container-fluid {
  background-color: #090a0c;
  margin-bottom: 3%;
}

.form-control{
  border-color: #090a0c;
  border-radius: 0px;
  border-width: 2px;
}

.btn{
  border-radius: 0px;
  font-size: x-large;
  /*font-max-size: x-large;*/
}

.btn-primary{
  background-color: #dcb94f;
  border-color: #dcb94f;
}

.btn-default{
  background-color: #090a0c;
  color: white;
}

hr {
  border: none;
  border-top: 2px solid #f5f5f5;
  color: #f5f5f5;
  overflow: visible;
  text-align: center;
  height: 1px;
}

hr:after {
  background: #fff;
  content: 'or';
  padding: 0 4px;
  position: relative;
  top: -13px;
}
.row{
  margin-top: 20px;
  margin-bottom: 20px;
}

.error{
  color: darkred;
}
