<div class="row">
  <div class="col-xs-1 col-sm-3"></div>
  <div class="col-xs-10 col-sm-6">
    <h5>Confirmation</h5>
    <span>Select preferred method of receiving information about the account:</span>
  </div>
  <div class="col-xs-1 col-sm-3"></div>
</div>

<div class="row">
  <div class="col-xs-1 col-sm-3"></div>
  <div class="col-xs-10 col-sm-6">
    <form>

        <input type="radio" id="contactChoice2"
               name="contact" value="text">
        <span for="contactChoice2" style="margin-right: 40px">Text Notification</span>

        <input type="radio" id="contactChoice1"
               name="contact" value="email">
        <span for="contactChoice1">Email Only</span>

    </form>
  </div>
  <div class="col-xs-1 col-sm-3"></div>
</div>
