<div class="container-fluid">
    <div class="row" style="margin-top: 0px">
      <img class="center-block img-responsive" src="../assets/pictures/airplane.png">
    </div>
  </div>
  
  <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
    <div *ngIf = "!isShow" class="row">
      <div class="col-xs-2 col-md-4"></div>
      <div class="col-xs-8 col-md-4">
        <div class="form-group">
          <label for="clientNumber">Client Number</label>
          <input
            type="text"
            id="clientNumber"
            class="form-control"
            formControlName="clientNumber">
        </div>
        <span class="error" *ngIf="error">
          Client Number provided may be Incorrect or Blocked<br/>
          Please contact our administration.
        </span>
      </div>
      <div class="col-xs-2 col-md-4"></div>
    </div>
  
  <div *ngIf = "!isShow" class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="display: flex; justify-content: center;">
      <div style="padding: 15px; width: fit-content;">
        <button
          [disabled]="!forgotForm.valid"
          class="btn btn-primary btn-lg btn-block"
          type="submit" style="width: 215px">
          Continue
        </button>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  </form>

  <form [formGroup]="answerForm" (ngSubmit)="answerQuestion()">
    <div *ngIf = "isShow" class="row">
      <div class="col-xs-2 col-md-4"></div>
      <div class="col-xs-8 col-md-4">
        <div class="form-group">
          <label for="answer">{{question}}</label>
          <input
            type="text"
            id="answer"
            class="form-control"
            formControlName="answer">
        </div>
        <p class="error" *ngIf="error">
        Answer provided is incorrect, please try again at {{ now | date:'shortTime'}}<br/>
        You have {{attempt}} attempts remaining
        </p>
      </div>
      <div class="col-xs-2 col-md-4"></div>
    </div>
  
  <div  *ngIf = "isShow" class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="display: flex; justify-content: center;">
      <div style="padding: 15px; width: fit-content;">
        <button
          [disabled]="!answerForm.valid"
          class="btn btn-primary btn-lg btn-block"
          type="submit" style="width: 215px"
          >
          Verify Question
        </button>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  </form>
  
  