
<div class="container-fluid">
    <div class="row" style="margin-top: 0px">
      <img class="center-block img-responsive" src="../assets/pictures/airplane.png">
    </div>
  </div>
  
  <form [formGroup]="validateCodeForm" (ngSubmit)="checkCode()">
    <div *ngIf = "isShow" class="row ">
      <div class="col-xs-2 col-md-4"></div>
      <div class="col-xs-8 col-md-4">
        <div class="form-group">
          <div>
            <p *ngIf = "!error" class="alert alert-success">
              <strong>An email has been sent to you</strong>
            </p>
          </div>
          <label for="securityCode">Security Code:</label>
          <input
            type="text"
            id="securityCode"
            class="form-control"
            formControlName="securityCode">
        </div>
        <!--<br>-->
        <span
          class="error"
          *ngIf="error">
          Incorrect Security Code, Try Again
        </span>
  
        <!--<br>-->
      </div>
      <div class="col-xs-2 col-md-4"></div>
    </div>
  
  
  <div *ngIf = "isShow" class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="display: flex; justify-content: center;">
      <div style="padding: 15px; width: fit-content;">
        <button
          [disabled]="!validateCodeForm.valid"
          class="btn btn-primary btn-lg btn-block"
          type="submit" style="width: 215px">
          Submit
        </button>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  
  </form>
  
  <form [formGroup]="updateForm" (ngSubmit)="updatePassword()">
    <div *ngIf = "!isShow" class="row">
      <div class="col-xs-2 col-md-4"></div>
      <div class="col-xs-8 col-md-4">
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password">
        </div>
      </div>
      <div class="col-xs-2 col-md-4"></div>
    </div>
  
    <div *ngIf = "!isShow" class="row ">
      <div class="col-xs-2 col-md-4"></div>
      <div class="col-xs-8 col-md-4">
        <div class="form-group">
          <label for="confrimPassword">Confirm Password</label>
          <input
            type="password"
            id="confirmPassword"
            class="form-control"
            formControlName="confirmPassword">
        </div>
        <p *ngIf = "error" class="error">
          Passwords do not match, Try Again
        </p>
        <p *ngIf = "error1" class="error">
          Password must be at least 8 character long, contain at least 1 digit, and 1 symbol
        </p>
      </div>
      <div class="col-xs-2 col-md-4"></div>
    </div>

    <div *ngIf = "!isShow" class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6" style="display: flex; justify-content: center;">
        <div style="padding: 15px; width: fit-content;">
          <button
            [disabled]="!updateForm.valid"
            class="btn btn-primary btn-lg btn-block"
            type="submit" style="width: 215px">
            Confirm
          </button>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>

  
  </form>

  