<div class="row">
  <div class="col-xs-1 col-sm-3"></div>
  <div class="col-xs-10 col-sm-6">
    <h5>Login Credentials</h5>
  </div>
  <div class="col-xs-1 col-sm-3"></div>
</div>

<div class="row">
  <div class="col-xs-1 col-sm-3"></div>
  <div class="form-group">
    <div class="col-xs-5 col-sm-3" style="border-right: 2px solid #dcb94f; padding-bottom: 20px">
      <label for="email"><span>{{newLoginCredentials.email.emailLabel}}</span></label>
      <input
        required
        [email]="newLoginCredentials.email.emailAddress !==''"
        [(ngModel)]="newLoginCredentials.email.emailAddress"
        name="email"
        #email="ngModel"
        type="text"
        id="email"
        class="form-control">

      <span class="error"
            *ngIf="(email.errors?.required && email.touched) || (confirmClicked && email.errors?.required)">
        Email Required
      </span>
      <span class="error" *ngIf="email.errors?.email && email.touched">Invalid Email</span>

      <br>

      <label for="confirmEmail"><span>{{newLoginCredentials.emailConfirmed.confirmedEmailLabel}}</span></label>
      <input
        required
        [email]="newLoginCredentials.email.emailAddress !==''"
        [(ngModel)]="newLoginCredentials.emailConfirmed.confirmedEmailAddress"
        name="emailConfirm"
        #emailConfirm="ngModel"
        type="text"
        id="confirmEmail"
        class="form-control"
        (blur)= "addLoginCredentials()">
      <span
        class="error"
        *ngIf="newLoginCredentials.email.emailAddress !== newLoginCredentials.emailConfirmed.confirmedEmailAddress && emailConfirm.touched">
        Email does not match
      </span>
    </div>

    <div class="col-xs-5 col-sm-3">
      <label for="password"><span>{{newLoginCredentials.password.passwordLabel}}</span></label>
      <input
        required
        pattern="^(?=.*\d)(?=.*[-=_()!@#$%^&*])(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
        [(ngModel)]="newLoginCredentials.password.passwordEntered"
        name="password"
        #password="ngModel"
        type="password"
        id="password"
        class="form-control">
      <span class="error"
            *ngIf="(password.errors?.required && password.touched) || (confirmClicked && password.errors?.required)">
        Password Required
      </span>

      <br>

      <label for="confirmPassword"><span>{{newLoginCredentials.passwordConfirmed.confirmPassword}}</span></label>
      <input
        required
        [(ngModel)]="newLoginCredentials.passwordConfirmed.confirmPasswordEntered"
        name="confirmPassword"
        #confirmPassword="ngModel"
        type="password"
        id="confirmPassword"
        class="form-control"
        (blur)= "addLoginCredentials()">
      <span class="error" *ngIf="newLoginCredentials.passwordConfirmed.confirmPasswordEntered !== newLoginCredentials.password.passwordEntered">
        Password entered does not match
      </span>
      <span *ngIf = "error && !(newLoginCredentials.passwordConfirmed.confirmPasswordEntered !== newLoginCredentials.password.passwordEntered)" class="error">
        Password must be at least 8 character long, contain at least 1 upper and lowercase letter, 1 digit, and 1 symbol
      </span>
    </div>
  </div>

  <div class="col-xs-1 col-sm-3"></div>
</div>
