h5{
  font-weight: bold;
}

.form-control{
  border-color: #090a0c;
  border-radius: 0px;
  border-width: 2px;
}

span{
  font-weight: normal;
}

.row{
  margin-top: 30px;
  margin-bottom: 30px;
}

.error{
  color: darkred;
}
